@import "./_normalize.scss";

* {
    position: relative;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

// variables
$main-color: #BADA55;

@import "./_navbar.scss";
